<div class="datalab-markdown-cell">
  <!--
  FIXME: will need to make the keymaps configurable on editor cell
  to avoid accidentally publishing a cell execute event and sending to server
  ** OR ** execute is replace with a save and optional "execute" flag that is
  only populated for code cells (not markdown cells)

  Maybe have a separate "save" key binding that does the publishing without exec
  regardless of cell type

  Two modes: edit, render/view

  In render mode:
  - double click flips cell to edit mode

  In edit mode:
  - Shift-execute flips to render mode

  -->
  <p>markdown cell goes here</p>
</div>
