<div class="datalab-cell-toolbar">

  <!-- Evaluate cell (update + execute-if-code-cell) -->
  <i class="datalab-toolbar-button fa-play fa"
      ng-click="notebookData.evaluateCell(cell, worksheetId)"></i>

  <!-- Move cell up -->
  <i class="datalab-toolbar-button fa-level-up fa"
      ng-click="notebookData.moveCellUp(cell.id, worksheetId)"></i>

  <!-- Move cell down -->
  <i class="datalab-toolbar-button fa-level-down fa"
      ng-click="notebookData.moveCellDown(cell.id, worksheetId)"></i>
  </button>

  <!-- Clear cell output -->
  <i class="datalab-toolbar-button fa-eraser fa"
      ng-click="notebookData.clearOutput(cell.id, worksheetId)"
      ng-if="cell.type == 'code'"></i>

  <!-- Delete cell -->
  <i class="datalab-toolbar-button fa-trash fa"
      ng-click="notebookData.deleteCell(cell.id, worksheetId)"></i>

</div>
