<div class="container-fluid">

  <div class="row datalab-editor-toolbar">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <span class="datalab-notebook-title">Title of DataLab notebook</span>
    </div>
    <div class="col-sm-6 col-md-8 col-lg-9">

      <div class="btn-group pull-right" role="group">

        <button type="button" class="btn btn-default btn-sm" ng-click="pageCtrl.notebookData.insertCodeCell()">
          &nbsp;<i class="fa-terminal fa"></i>&nbsp;Cell
        </button>

        <button type="button" class="btn btn-default btn-sm" ng-click="pageCtrl.notebookData.insertMarkdownCell()">
          &nbsp;<i class="fa-paragraph fa"></i>&nbsp;Cell
        </button>

        <!-- TODO(bryantd): wire up the execute/clear buttons once notebook operations are implemented
        <button type="button" class="btn btn-default btn-sm" ng-click="pageCtrl.executeNotebook()">
        <span ng-switch on="pageCtrl.sessionStatus.kernelStatus">
          <span ng-switch-when="busy">
            <i class="fa-refresh fa fa-spin"></i>
          </span>
          <span ng-switch-default>
            <i class="fa-long-arrow-down fa"></i>
          </span>
        </span>
          &nbsp;Run
        </button>

        <button type="button" class="btn btn-default btn-sm" ng-click="pageCtrl.clearAllOutputs()">
          <i class="fa-eraser fa"></i>&nbsp;Outputs
        </button>
        -->
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <datalab-notebook-editor notebook="pageCtrl.notebookData.notebook"></datalab-notebook-editor>
    </div>
  </div>

</div>
