<div class="datalab-code-cell">
  <!-- TODO(bryantd): See if possible to lose the outer div of this directive; currently getting
  complaints from angular about $compile:mutlidir; seems like angular doesn't want you to create a
  directive which is replaced by a parameterized version of another directive -->
  <datalab-editor-cell
      cell="cell"
      worksheet-id="worksheetId"
      keymap="keymap"
      enable-edit-region="ctrl.showEditRegion"
      enable-preview-region="ctrl.showPreviewRegion"
  ></datalab-editor-cell>
</div>
