<div id="cell-{{cell.id}}" class="datalab-editor-cell row" ng-class="{ 'datalab-editor-cell-active' : cell.active }">
  <!-- NOTE: this template assumes that it lives inside of some bootstrap .container as the base grid system -->

  <!-- Preview region -->
  <div class="datalab-editor-cell-preview-region col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-dblclick="onPreviewRegionDoubleClick()" ng-if="enablePreviewRegion">
    <datalab-markdown-viewer source="cell.source"></datalab-markdown-viewer>
  </div>

  <!-- Edit region -->
  <div class="datalab-editor-cell-edit-region col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="enableEditRegion" >
    <div class="datalab-editor-cell-input row">
      <div class="datalab-editor-cell-identifier datalab-editor-cell-identifier-input col-md-1">
        <!-- FIXME: css class name s/cell-index/execution-counter/ -->
        <!-- IPython-style input region with execution counter
        In&nbsp;
        <span class="datalab-editor-cell-index">[{{ cell.executionCounter }}]</span>
        -->
        <!-- Minimalistic input region marker -->
        <span class="fa fa-terminal fa-lg"></span>
      </div>

      <div class="datalab-editor-cell-input-content col-md-11">
        <datalab-code-editor source="cell.source" active="cell.active" keymap='keymap' actions='actions'></datalab-code-editor>
      </div>
    </div>

    <!-- TODO(bryantd): may want to separate out the output region into a separate directive as this is becoming large/long -->
    <div class="datalab-editor-cell-output row" ng-show="cell.outputs">
      <div class="datalab-editor-cell-identifier datalab-editor-cell-identifier-output col-md-1">
        <!-- IPython-style output region with execution counter
        Out
        <span class="datalab-editor-cell-index">[{{ cell.executionCounter }}]</span>
        -->
      </div>
      <div class="datalab-editor-cell-outputs col-md-11">
        <!-- For each output, generate a mimetype-specific element -->
        <div ng-repeat="output in cell.outputs" ng-switch="output.preferredMimetype">
          <!-- Plain text -->
          <div ng-switch-when="text/plain">
            {{ output.mimetypeBundle['text/plain'] }}
          </div>
          <!-- HTML -->
          <div ng-switch-when="text/html" ng-bind-html="output.trustedHtml"></div>
          <!-- PNG -->
          <img ng-switch-when="image/png" ng-src="data:image/png;base64,{{output.mimetypeBundle['image/png']}}"/>
          <!-- JPEG -->
          <img ng-switch-when="image/jpeg" ng-src="data:image/jpeg;base64,{{output.mimetypeBundle['image/jpeg']}}"/>
        </div>
      </div>

    </div>

    <div class="clearer"></div>
  </div>

  <!-- FIXME: separate out the controls into a separate directive -->
  <!-- FIXME: make this cell controls widget appear whenever the cell is active: place it in the (vertical) gutter via negative margins (ala colab)-->
  <!-- TODO(bryantd): find a more concise way to surface cell-level controls and then add these buttons back
  <div class="col-md-1">
    <div class="datalab-editor-cell-controls">

        <div class="row">
          <div class="md-col-12">
            <button type="button" class="btn btn-default btn-block btn-xs">
              <i class="fa-long-arrow-down fa"></i>&nbsp;Run
            </button>
          </div>


          <div class="md-col-12">
            <button type="button" class="btn btn-default btn-block btn-xs">
              <i class="fa-eraser fa"></i>&nbsp;Clear
            </button>
          </div>



          <div class="md-col-6">
          <button type="button" class="btn btn-default btn-block btn-xs">
            <i class="fa fa-plus-square-o"></i>&nbsp;New cell
          </button>
          </div>

          <div class="md-col-6">
          <button type="button" class="btn btn-default btn-block btn-xs">
            <i class="fa fa-minus-square-o"></i>&nbsp;Delete
          </button>
          </div>
        </div>
  -->

</div>

