<div id="cell-{{cell.id}}" class="datalab-editor-cell row" ng-class="{ 'datalab-editor-cell-active' : cell.active }">
  <!-- NOTE: this template assumes that it lives inside of some bootstrap .container as the base grid system -->

  <!-- Edit region -->
  <div class="datalab-editor-cell-edit-region col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="enableEditRegion" >
    <div class="datalab-editor-cell-input row">
      <div class="datalab-editor-cell-identifier datalab-editor-cell-identifier-input col-md-1">
        <span class="fa fa-terminal fa-lg" ng-if="cell.type == 'code'"></span>
        <span class="fa fa-edit fa-lg" ng-if="cell.type == 'markdown'"></span>
        <span class="fa fa-paragraph fa-lg" ng-if="cell.type == 'heading'"></span>
      </div>

      <div class="datalab-editor-cell-input-content col-md-11">
        <datalab-code-editor source="cell.source" active="cell.active" keymap='keymap' actions='actions'></datalab-code-editor>
      </div>

      <!-- Cell toolbar -->
      <!-- TODO(bryantd): only show cell toolbar when cell is active  -->
      <div class="datalab-editor-cell-toolbar">
        <datalab-cell-toolbar
            cell="cell"
            worksheet-id="worksheetId"></datalab-cell-toolbar>
        <!-- TODO(bryantd): decide if inserter bit will be in a different part of the page or merged with cell toolbar -->
        <datalab-cell-inserter
            insert-after-cell-id="cell.id"
            worksheet-id="worksheetId"></datalab-cell-inserter>
      </div>
    </div>

    <datalab-cell-output-viewer outputs="cell.outputs"></datalab-cell-output-viewer>
    <div class="clearer"></div>
  </div>

  <!-- Preview region -->
  <div class="datalab-editor-cell-preview-region col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-dblclick="onPreviewRegionDoubleClick()" ng-if="enablePreviewRegion">
    <datalab-markdown-viewer ng-if="cell.type == 'markdown'" source="cell.source"></datalab-markdown-viewer>
    <datalab-heading-viewer ng-if="cell.type == 'heading'" source="cell.source"level="cell.metadata.level"></datalab-heading-viewer>
  </div>

</div>

