<div class="datalab-cell-inserter-toolbar">

    <!-- Add code cell -->
    <i class="datalab-toolbar-button fa-terminal fa"
        ng-click="notebookData.addCell('code', worksheetId, insertAfterCellId)"></i>

    <!-- Add markdown cell -->
    <i class="datalab-toolbar-button fa-edit fa"
        ng-click="notebookData.addCell('markdown', worksheetId, insertAfterCellId)"></i>

    <!-- Add heading cell -->
    <i class="datalab-toolbar-button fa-paragraph fa"
        ng-click="notebookData.addCell('heading', worksheetId, insertAfterCellId)"></i>

</div>
