<div class="datalab-cell-inserter col-lg-12 col-md-12 col-sm-12 col-xs-12">

  <div class="btn-group" role="group">
    <!-- Add code cell -->
    <button
        type="button"
        class="btn btn-default btn-sm"
        ng-click="actionEmitter.addCell('code', worksheetId, insertAfterCellId)">
      <i class="fa-terminal fa"></i>
    </button>

    <!-- Add markdown cell -->
    <button
        type="button"
        class="btn btn-default btn-sm"
        ng-click="actionEmitter.addCell('markdown', worksheetId, insertAfterCellId)">
      <i class="fa-edit fa"></i>
    </button>

    <!-- Add heading cell -->
    <button
        type="button"
        class="btn btn-default btn-sm"
        ng-click="actionEmitter.addCell('heading', worksheetId, insertAfterCellId)">
      <i class="fa-paragraph fa"></i>
    </button>
  </div>

</div>
