<div class="datalab-cell-inserter col-lg-12 col-md-12 col-sm-12 col-xs-12">

  <div class="btn-group pull-right" role="group">
    <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.insertCodeCell()">
      <i class="fa-terminal fa"></i>
    </button>

    <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.insertMarkdownCell()">
      <i class="fa-edit fa"></i>
    </button>

    <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.insertHeadingCell()">
      <i class="fa-paragraph fa"></i>
    </button>
  </div>

</div>
