<div class="notebook">
  <div ng-repeat="cellId in notebook.worksheet">

    <div ng-switch="notebook.cells[cellId].type">
        <datalab-code-cell
            ng-switch-when="code"
            cell="notebook.cells[cellId]"></datalab-code-cell>

        <datalab-markdown-cell
            ng-switch-when="markdown"
            cell="notebook.cells[cellId]"></datalab-markdown-cell>

        <datalab-heading-cell
            ng-switch-when="heading"
            cell="notebook.cells[cellId]"></datalab-heading-cell>
    </div>

  </div>
</div>
